<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for user in users %}
        {{ user.name }}&nbsp;&nbsp;{{ user.age }}
        <a href="{{ url_for('dele', user_id=user.id) }}">dele</a>
{#        <a href="{{ url_for('upp', user_idla=user.id) }}">upp</a>#}
        <br>
    {% endfor %}
    <a href="{{ url_for('add') }}">添加</a>
{#    <a href="{{ url_for('upp') }}">更新</a>#}
</body>
</html>